
div.gallery {
  width: 700px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 0px 0px;
 
}
@media screen and (max-width: 500px) {
  div.gallery {
    width: 100%;
  }
}


div.gallery:hover {
  border: 1px solid rgb(0, 0, 0);
 
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

  body {
    font-family: calibri;
    padding: 10px;
    color: #ccc;
  }

  
  
  .header {
   
    font-family: arial;
    text-align: center; 
    background-color: #933027;
    margin: 30px;
    padding: 20px; 
    color: #ffffff;

   
    text-transform: uppercase;
  
    }
  
  img{
    width: 700px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 0px 0px;
    
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius: 10px;
  }
  
  .header h1{
font-size: 9vw;
  }

  .header h2{
    font-size:3vw;
  }

  main {
   
    background-color: #933027;
    margin: 30px;
    padding: 20px;
    
    
  }
 
 
  
  
  #img-caption {
    text-align: center;
  }

#tribute-info{
 
  padding:10px;
  border: 2px solid black 
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #AE3F32;
  color: white;
}

#videoBG{
  position: relative;
  
  

}
@media (min-aspect-ratio: 16/9) {
  #videoBG{
      width: 100%;
      height: auto;
  
  }
  @media (min-aspect-ratio: 16/9) {
      #videoBG{
          width: auto;
          height: 100%;
      
      }
  }
  
  .videoWrapper{
    position: 
    padding-bottom 56.25%;
    height: 0;

  }
  
  .videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



    

  
}